{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Create New Match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <!-- Username input -->
    <label for="player1_username">Player1 Username</label>
    <input name="player1_username" id="player1_username" required>

    <label for="player2_username">Player2 Username</label>
    <input name="player2_username" id="player2_username" required>

    <!-- Submit button -->
    <input type="submit" value="Update Role">
  </form>
{% endblock %}