{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Update Match{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <!-- Username input -->
    <label for="match_id">Match ID</label>
    <input name="match_id" id="match_id" required>

    <!-- Submit button -->
    <input type="submit" value="Update Role">
  </form>
  <form method="post" action="{{ url_for('clear_all_match_blueprint.clear_all_match') }}">
    <input type="submit" value="Clear All Matches" style="background-color: red; color: white;">
  </form>
{% endblock %}