<!doctype html>
<title>{% block title %}{% endblock %} - Scoreboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="http://127.0.0.1:5001/">Score Board</a></h1>
  <ul>
    {% if current_user.is_authenticated %}
      <!-- 用戶已登入，顯示用戶名和登出選項 -->
      <li><span>Welcome, {{ current_user.username }}</span></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <!-- 用戶未登入，顯示註冊和登入選項 -->
      <li><a href="{{ url_for('auth.register') }}">Register</a></li>
      <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<!-- 在此处添加全局脚本或扩展点 -->
<!-- <script src="{{ url_for('static', filename='socketio.js') }}"></script> include Socket.IO client library -->
<script>
    // global Socket.IO client logic
    const socket = io('/admin'); // connect to namespace '/admin'
    socket.on('user_role_updated', (data) => {
        console.log('User role updated:', data);
        // update page logic
    });
</script>

{% block scripts %}{% endblock %}
